<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="IFTTT">
        <setting label="Your Key" type="text" id="key" default=""/>
        <setting type="lsep" label="Get your key at http://ifttt.com/maker" />
    </category>
    <category label="Trigger 1">
        <setting label="Name" type="text" id="trigger1_name" default="Trigger 1"/>
        <setting label="Eventname" type="text" id="trigger1_event" default=""/>
        <setting label="Value 1 (optional)" type="text" id="trigger1_value_1" default="" />
        <setting label="Value 2 (optional)" type="text" id="trigger1_value_2" default="" />
        <setting label="Value 3 (optional)" type="text" id="trigger1_value_3" default="" />
    </category>
    <category label="Trigger 2">
        <setting label="Name" type="text" id="trigger2_name" default="Trigger 2"/>
        <setting label="Eventname" type="text" id="trigger2_event" default=""/>
        <setting label="Value 1 (optional)" type="text" id="trigger2_value_1" default="" />
        <setting label="Value 2 (optional)" type="text" id="trigger2_value_2" default="" />
        <setting label="Value 3 (optional)" type="text" id="trigger2_value_3" default="" />
    </category>
    <category label="Trigger 3">
        <setting label="Name" type="text" id="trigger3_name" default="Trigger 3"/>
        <setting label="Eventname" type="text" id="trigger3_event" default=""/>
        <setting label="Value 1 (optional)" type="text" id="trigger3_value_1" default="" />
        <setting label="Value 2 (optional)" type="text" id="trigger3_value_2" default="" />
        <setting label="Value 3 (optional)" type="text" id="trigger3_value_3" default="" />
    </category>
</settings>